# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data folders
data/raw_data/*
data/processed_data/*
!data/raw_data/.gitkeep
!data/processed_data/.gitkeep

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
